@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.ttf); }

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(fonts/Quicksandbold.ttf); }

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5; }

.container {
  width: 1160px;
  margin: 0 auto;
  position: relative; }

header, .tagline, .about p, .navigation a, .about-us a, .support a, .subscription a, .subscription .send-email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px; }

.login-btn, .reg-btn, ul li .first-line {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

.material-icons, .selector::after, .choose .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal; }

header {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  display: block; }

.logo {
  float: left;
  margin-top: 15px; }

.response-space {
  content: "";
  width: 285px;
  height: 20px;
  float: left;
  display: flex; }

.menu-nav {
  display: flex;
  float: left;
  width: 446px;
  line-height: 17px;
  margin-top: 26px;
  padding: 0;
  list-style: none; }

ul li a {
  float: left;
  display: flex;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 19px;
  font-size: 14px;
  padding-right: 1px; }

ul li a i {
  padding-right: 0;
  padding-left: 1px;
  font-size: 24px; }

.lastlink a {
  margin-right: 0; }

.login-btn {
  display: flex;
  float: left;
  width: 60px;
  height: 34px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  margin-left: 40px;
  margin-top: 18px;
  color: #BC9CFF;
  z-index: 10;
  padding: 0;
  background-color: white;
  border: none; }

.frame {
  position: absolute;
  margin-left: -20px;
  margin-top: -9px; }

.reg-btn {
  display: flex;
  float: left;
  padding-left: 20px;
  width: 196px;
  height: 34px;
  margin-right: 0;
  margin-left: 26px;
  margin-top: 18px;
  cursor: pointer;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none; }

main {
  width: 1440px;
  margin-top: -70px;
  z-index: 0;
  height: 900px;
  background-image: url(img/image3.png); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
  display: flex;
  flex-wrap: wrap; }

.datepicker--cell {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40px;
  z-index: 1; }
  .datepicker--cell.-focus- {
    background: #f0f0f0; }
  .datepicker--cell.-current- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: white;
    font-weight: bold; }
    .datepicker--cell.-current-.-focus- {
      color: #4a4a4a;
      background: linear-gradient(180deg, #56B67E 0%, #4DB9D1 100%); }
    .datepicker--cell.-current-.-in-range- {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }
  .datepicker--cell.-in-range- {
    color: #4a4a4a;
    border-radius: 0;
    height: 40px;
    z-index: -25;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }
    .datepicker--cell.-in-range-.-focus- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell.-disabled- {
    cursor: default;
    color: #aeaeae; }
    .datepicker--cell.-disabled-.-focus- {
      color: #aeaeae; }
    .datepicker--cell.-disabled-.-in-range- {
      color: #a1a1a1; }
    .datepicker--cell.-disabled-.-current-.-focus- {
      color: #aeaeae; }
  .datepicker--cell.-range-from-::after {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    margin-left: 20px;
    z-index: -10; }
  .datepicker--cell.-range-to-::after {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    z-index: -10; }
  .datepicker--cell.-selected- {
    color: #fff;
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-weight: bold;
    z-index: 2; }
    .datepicker--cell.-selected-.-current- {
      color: #fff;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
    .datepicker--cell.-selected-.-focus- {
      background: linear-gradient(180deg, #A383E6 0%, #728BE0 100%);
      z-index: 2; }
  .datepicker--cell:empty {
    cursor: default; }

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  width: 280px; }

.datepicker--day-name {
  color: #BC9CFF;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: .8em; }

.datepicker--cell-day {
  width: 40px; }

.datepicker--cells-months {
  height: 370px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 370px; }

.datepicker--cells-years {
  height: 370px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }
  @media print {
    .datepickers-container {
      display: none; } }

.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Montserrat;
  font-size: 14px;
  color: #4a4a4a;
  width: 318px;
  position: absolute;
  left: -100000px;
  margin-top: -6px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }
  .datepicker.-from-top- {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .datepicker.-from-right- {
    -webkit-transform: translateX(8px);
            transform: translateX(8px); }
  .datepicker.-from-bottom- {
    -webkit-transform: translateY(8px);
            transform: translateY(8px); }
  .datepicker.-from-left- {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px); }
  .datepicker.active {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
    transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
    transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.datepicker--pointer {
  display: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
  width: 280px;
  margin: 0 auto; }
  .-only-timepicker- .datepicker--content {
    display: none; }

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1; }
  .-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(100% - 4px);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    right: calc(100% - 4px);
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  .-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    bottom: calc(100% - 4px);
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  .-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
    left: calc(100% - 4px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
    left: 10px; }
  .-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
    right: 10px; }
  .-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
    left: calc(50% - 10px / 2); }
  .-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
    top: 10px; }
  .-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
    bottom: 10px; }
  .-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
    top: calc(50% - 10px / 2); }

.datepicker--body {
  display: none; }
  .datepicker--body.active {
    display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }
  .datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
    color: #c5c5c5; }
  .-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
    color: #dedede; }
  .-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
    color: #fff;
    background: #a2ddf6; }
    .-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
      background: #8ad5f4; }
  .-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
    background-color: rgba(92, 196, 239, 0.1);
    color: #cccccc; }
    .-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
      background-color: rgba(92, 196, 239, 0.2); }
  .datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
    background: none;
    border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 4px; }
  .-only-timepicker- .datepicker--nav {
    display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center; }

.datepicker--nav-action {
  width: 40px;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .datepicker--nav-action:hover {
    background: #f0f0f0; }
  .datepicker--nav-action.-disabled- {
    visibility: hidden; }
  .datepicker--nav-action i {
    width: 32px;
    height: 32px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    color: #BC9CFF;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center; }
  .datepicker--nav-action path {
    fill: none;
    stroke: #BC9CFF;
    stroke-width: 2px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041; }
  .datepicker--nav-title i {
    margin-left: 5px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    color: #1F2041; }
  .datepicker--nav-title:hover {
    background: #f0f0f0; }
  .datepicker--nav-title.-disabled- {
    cursor: default;
    background: none; }

.datepicker--buttons {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase; }

.datepicker--buttons .datepicker--button:nth-child(1) {
  color: rgba(31, 32, 65, 0.5);
  align-content: left;
  padding-left: 20px;
  padding-right: 40px; }

.datepicker--buttons .datepicker--button:nth-child(2) {
  color: #BC9CFF;
  padding-left: 60px; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 100px; }
  .datepicker--button:hover {
    color: #4a4a4a;
    background: #f0f0f0; }

.guestspicker {
  margin-top: 17px; }

.tagline {
  z-index: 3;
  color: rgba(31, 32, 65, 0.75);
  position: absolute;
  top: 830px;
  right: -7px;
  line-height: 24px;
  text-align: right; }

.form {
  position: absolute;
  top: 140px;
  display: block;
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box; }

.form h1 {
  width: 320px;
  height: 60px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 740;
  font-size: 24px;
  line-height: 30px;
  line-height: 125%;
  color: #1F2041;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0; }

.arrive {
  display: block;
  float: left; }

.send {
  display: block;
  margin-left: 18px;
  float: left; }

.guests {
  display: block;
  margin: 0;
  margin-top: 12px;
  float: left;
  z-index: 5; }

.form h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px; }

.datepicker-here {
  width: 150px;
  height: 44px;
  background: transparent;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  padding-left: 15px;
  padding-right: 40px;
  margin-left: 0;
  color: rgba(31, 32, 65, 0.75);
  cursor: pointer; }

.selector::after {
  content: "expand_more";
  font-size: 24px;
  color: rgba(31, 32, 65, 0.5);
  height: 40px;
  width: 35px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  margin-top: -42px;
  margin-left: 115px; }

.selector {
  cursor: pointer; }

.dropbtn {
  width: 318px;
  height: 44px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: rgba(31, 32, 65, 0.75);
  cursor: pointer; }

.dropdown {
  display: none;
  position: absolute;
  top: 265px;
  height: 160px;
  width: 318px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }
  .dropdown p {
    width: 83px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    z-index: 10;
    text-transform: uppercase;
    color: #1F2041;
    margin: 0;
    margin-left: 15px;
    vertical-align: middle; }

.show {
  display: block;
  z-index: 10; }

.stepper {
  display: inline-flex; }

.adult {
  margin-top: 12px;
  margin-bottom: 10px; }

.kids {
  margin-bottom: 11px; }

.baby {
  margin-bottom: 0; }

.minus {
  float: left;
  margin-left: 120px; }

.minus, .plus {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  background: white;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  margin-top: -7px;
  margin-bottom: 1px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center; }

.stepper-input {
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  width: 32px;
  margin-top: -1px;
  text-align: center;
  border: none; }

.minus:disabled {
  opacity: 0.5;
  cursor: default; }

.plus:disabled {
  opacity: 0.5;
  cursor: default; }

.btn-choose {
  margin-top: 31px;
  float: left; }

.choose {
  width: 320px;
  height: 44px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none;
  vertical-align: middle; }
  .choose .btntext {
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0;
    width: 200px;
    margin-top: 5px;
    margin-left: 52px;
    vertical-align: middle;
    color: white; }
  .choose .material-icons {
    float: right;
    margin: 0;
    color: white;
    font-size: 24px;
    line-height: 24px;
    margin-right: 5px; }

.footer .logo {
  margin-top: 0; }

.about {
  display: flex;
  width: 260px;
  height: 132px;
  float: left;
  flex-direction: column; }

.about img {
  float: left;
  align-self: flex-start; }

.about p {
  line-height: 24px;
  margin-top: 18px;
  color: rgba(31, 32, 65, 0.75); }

.navigation {
  display: flex;
  float: left;
  width: 144px;
  height: 168px;
  margin-left: 40px; }

.about-us {
  display: flex;
  float: left;
  width: 109px;
  height: 168px;
  margin-left: 58px; }

.support {
  display: flex;
  float: left;
  width: 150px;
  height: 130px;
  margin-left: 92px; }

.subscription {
  display: flex;
  float: left;
  width: 255px;
  height: 84px;
  margin-left: 48px; }

.navigation ul, .about-us ul, .support ul, .subscription ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  line-height: 17px;
  margin-top: 4px; }

.subscription ul {
  line-height: 24px; }

.navigation ul li, .about-us ul li, .support ul li {
  padding-bottom: 38px; }

.subscription ul li {
  padding-bottom: 34px; }

.navigation a, .about-us a, .support a, .subscription a {
  text-decoration: none;
  margin-right: 0;
  color: rgba(31, 32, 65, 0.5); }

ul li .first-line {
  letter-spacing: 1px;
  color: #1F2041; }

.support ul li .first-line {
  letter-spacing: 0; }

.subscription .send-email {
  margin-top: 21px;
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 24px;
  padding-left: 15px; }

.send-email::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::placeholder {
  color: rgba(31, 32, 65, 0.25); }

.subscription .input-send i {
  position: relative;
  left: 225px;
  margin-top: -44px;
  font-size: 24px;
  line-height: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8BA4F9; }

.footer {
  position: relative;
  background-color: white;
  min-height: 272px;
  padding-top: 100px;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }

.copyright-bar {
  display: block;
  background-color: white;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: -2;
  position: relative; }

.copyright-bar p {
  position: relative;
  float: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 28px; }

.social-btns {
  display: inline-block;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-right: 2px; }

.social-btns .twitter {
  background-image: url("img/twit.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  font-size: 20px;
  line-height: 20px;
  color: transparent; }

.social-btns .facebook {
  background-image: url("img/fb.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 14px;
  font-size: 20px;
  line-height: 20px;
  color: transparent; }

.social-btns .instagram {
  background-image: url("img/in.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 20px;
  color: transparent; }

@media screen and (max-device-width: 768px) and (min-device-width: 550px) {
  body {
    width: 100vw; }
  main {
    height: 900px;
    width: 100%;
    margin-bottom: -140px;
    background-position: -336px; }
  .container {
    width: 95%;
    margin: 0 auto; }
  .form {
    left: 70px; }
  .container .tagline {
    top: 90px;
    right: 40px;
    text-align: right;
    width: 300px; }
  .response-space {
    width: 5vw; }
  .footer {
    padding-top: 30px; }
    .footer .about {
      margin-left: 30px; }
    .footer .support {
      margin-left: 70px; }
    .footer .subscription {
      display: block;
      width: 750px;
      margin-left: 30px; }
      .footer .subscription ul li:nth-child(2) {
        float: left; }
      .footer .subscription .input-send {
        float: right;
        margin-top: -20px; }
        .footer .subscription .input-send .send-email {
          margin: 0; }
    .footer .navigation ul li, .footer .about-us ul li, .footer .support ul li, .footer .subscription ul li {
      padding-bottom: 30px; } }

