@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.ttf); }

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Quicksand";
  src: url(fonts/Quicksandbold.ttf); }

body {
  width: 1440px;
  margin: 0 auto;
  background-color: #e5e5e5; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal; }

header {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal; }

header {
  height: 70px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05); }

.logo {
  margin-top: 15px;
  left: 0; }

.menu-nav {
  position: absolute;
  width: 446px;
  line-height: 115%;
  top: 27px;
  left: 531px;
  margin: 0;
  padding: 0;
  list-style: none; }

ul li a {
  float: left;
  display: flex;
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 19px;
  font-size: 14px;
  padding-right: 1px; }

ul li a i {
  padding-right: 0;
  padding-left: 1px;
  font-size: 24px; }

.lastlink a {
  margin-right: 0; }

.btn .login-btn {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 2px;
  width: 83px;
  height: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  color: #BC9CFF;
  z-index: 4;
  background-color: white;
  border-radius: 22px;
  border: none; }

.btn {
  position: absolute;
  left: 997px;
  top: 18px;
  z-index: -2;
  width: 87px;
  height: 34px;
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.reg-btn {
  position: absolute;
  width: 196px;
  height: 34px;
  left: 1104px;
  top: 18px;
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none; }

main {
  position: absolute;
  top: 0;
  width: 1440px;
  margin-top: 0;
  z-index: 0;
  height: 900px;
  background-image: url(img/image3.png); }

.tagline {
  display: block;
  color: rgba(31, 32, 65, 0.75);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0 134px 21px 0;
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  width: 297px;
  height: 48px; }

.form {
  display: block;
  margin-top: 140px;
  width: 380px;
  height: 374px;
  padding: 40px 30px 30px 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-sizing: border-box; }

.form h1 {
  width: 320px;
  height: 60px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 740;
  font-size: 24px;
  line-height: 30px;
  line-height: 125%;
  color: #1F2041;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0; }

.arrive {
  display: block;
  float: left; }

.send {
  display: block;
  margin-left: 18px;
  float: left; }

.guests {
  display: block;
  margin: 0;
  margin-top: 10px;
  float: left; }

.form h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 5px; }

.date-selector {
  width: 150px;
  height: 44px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: rgba(31, 32, 65, 0.75); }

.guests-count {
  width: 320px;
  height: 44px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: rgba(31, 32, 65, 0.75); }

.selector i {
  position: relative;
  left: 115px;
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -44px;
  color: rgba(31, 32, 65, 0.5); }

.selector .last-arrow {
  left: 285px; }

.btn-choose {
  margin-top: 31px;
  float: left; }

.btn-choose i {
  position: relative;
  left: 285px;
  margin-top: -44px;
  color: white;
  font-size: 24px;
  line-height: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  text-align: center; }

.choose {
  width: 320px;
  height: 44px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  border: none; }

.footer {
  position: relative;
  top: 830px;
  background-color: white;
  height: 272px;
  padding-top: 100px;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }

.container {
  width: 1160px;
  margin: 0 auto; }

.footer .logo {
  margin-top: 0; }

.about {
  width: 260px;
  height: 132px;
  float: left; }

.about p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75); }

.navigation {
  float: left;
  width: 144px;
  height: 168px;
  margin-left: 40px; }

.about-us {
  float: left;
  width: 109px;
  height: 168px;
  margin-left: 58px; }

.support {
  float: left;
  width: 150px;
  height: 130px;
  margin-left: 92px; }

.subscription {
  float: left;
  width: 255px;
  height: 84px;
  margin-left: 48px; }

.navigation ul, .about-us ul, .support ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px; }

.subscription ul {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px; }

.navigation ul li, .about-us ul li, .support ul li {
  padding-bottom: 38px; }

.subscription ul li {
  padding-bottom: 34px; }

.navigation a, .about-us a, .support a, .subscription a {
  text-decoration: none;
  margin-right: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5); }

ul li .first-line {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1F2041;
  line-height: 15px;
  letter-spacing: 1px; }

.support ul li .first-line {
  letter-spacing: 0; }

.subscription .send-email {
  margin-top: 21px;
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px; }

.send-email::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

.send-email::placeholder {
  color: rgba(31, 32, 65, 0.25); }

.subscription .input-send i {
  position: relative;
  left: 225px;
  margin-top: -44px;
  font-size: 24px;
  line-height: 24px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #8BA4F9; }

.copyright-bar {
  display: block;
  background-color: white;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: -2;
  position: relative;
  top: 830px; }

.copyright-bar p {
  position: relative;
  float: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
  margin-top: 28px; }

.social-btns {
  display: inline-block;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
  margin-top: 26px; }

.social-btns .twitter {
  background-image: url("img/twit.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  font-size: 18px;
  line-height: 20px;
  color: transparent; }

.social-btns .facebook {
  background-image: url("img/fb.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 20px;
  color: transparent; }

.social-btns .instagram {
  background-image: url("img/in.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 20px;
  color: transparent; }

